@model Projekat_Teretana.Models.BO.TreninziBO

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TreninziBO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PocetakTreninga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PocetakTreninga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KrajTreninga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KrajTreninga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trener)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trener)
        </dd>
    </dl>
    
    <form asp-action="DeleteTreninzi">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
