@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Projekat_Teretana.Models.BO.ClanoviBO>
@using Projekat_Teretana.Models.BO

@{
    ViewBag.Title = "Članovi";
}

<div id="content">
    <h2>Članovi</h2>

    <div class="form-group">
        @Html.ActionLink("Kreiraj novog člana", "Create", "Clanovi")
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="list-group py-2">
                @foreach (var clanovi in Model)
                {
                    <a class="list-group-item" onclick='OnListItemClick(this, @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(clanovi) as String))'>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th width="25%">Ime</th>
                                    <th width="25%">Prezime</th>
                                    <th width="25%">Vrsta članarine</th>
                                    <th width="25%">Obriši</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@clanovi.Ime</td>
                                    <td>@clanovi.Prezime</td>
                                    <td>@clanovi.VrstaClanarine</td>
                                    <td>
                                        <input type="checkbox" name="deleteClana" value="@clanovi.Id" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                }
            </div>

        </div>

        <div class="col-md-4" id="detaljiClan" style="visibility:hidden">
            <h3 class="control-lable">Detalji člana:</h3>
            <p id="detaljiClanText"></p>
            <input id="editButton" type="button" class="btn btn-warning" value="Ažuriraj" />
            <input id="deleteButton" type="button" class="btn btn-danger" value="Obriši" onclick="DeleteItem()" />
        </div>
    </div>
</div>

<script>
    function OnListItemClick(htmlItem, clanovi) {
        $('a.list-group-item.active').removeClass('active');
        $(htmlItem).addClass('active');
        document.getElementById('detaljiClan').style.visibility = "visible";
        document.getElementById('detaljiClanText').innerHTML = "<b>Ime:</b> " + clanovi.Ime + "<br><b>Prezime:</b> " + clanovi.Prezime + "<br><b>Vrsta članarine:</b> " + clanovi.VrstaClanarine;
    }

    function DeleteItem() {
        var items = [];
        $("input[name='deleteClana']:checked").each(function () {
            items.push($(this).val());
        });


        $.ajax({
            url: '@Url.Action("DeleteClanovi", "Clanovi")',
            type: "POST",
            data: { clanovi: items },
            success: function (data) {
                $('#content').html(data);
            }
        });


    }
</script>
